boto3
pandas
numpy
sqlalchemy
pymysql
psycopg2-binary
docker
python-dotenv
faker
fastapi
uvicorn
pydantic
apscheduler
aioboto3
python-json-logger
loguru
redis
confluent-kafka
pyarrow
openpyxl
requests
